body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*.navbar-expand-md{
            background-color: blueviolet;
        }*/

.logo-utf {
    height: 50x;
    width: 100px;
}

.alinhamento-texto{
    text-align: justify;
}